---
name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
      - name: Run puppet-lint
        run: bundle exec rake lint

  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
      - name: Validate manifests
        run: bundle exec rake validate

  spec:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        puppet: ['7', '8']
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
        env:
          PUPPET_GEM_VERSION: "~> ${{ matrix.puppet }}.0"
      - name: Run spec tests
        run: bundle exec rake spec
        env:
          PUPPET_GEM_VERSION: "~> ${{ matrix.puppet }}.0"
